In [1]:
import pandas as pd                                   # data science essentials
import matplotlib.pyplot as plt                       # essential graphical output                                
import numpy as np                                    # Math
import seaborn as sns

# setting options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
%matplotlib inline

In [34]:
file = "sample_survey_results expanded.xlsx"
df = pd.read_excel(file)

In [101]:
y=-1
for x in df.columns:
    y+=1
    print(f'\'Q{y}\',')

'Q0',
'Q1',
'Q2',
'Q3',
'Q4',
'Q5',
'Q6',
'Q7',
'Q8',
'Q9',
'Q10',
'Q11',
'Q12',
'Q13',
'Q14',
'Q15',
'Q16',
'Q17',
'Q18',
'Q19',
'Q20',
'Q21',
'Q22',
'Q23',
'Q24',
'Q25',
'Q26',
'Q27',
'Q28',
'Q29',
'Q30',
'Q31',
'Q32',
'Q33',
'Q34',
'Q35',
'Q36',
'Q37',
'Q38',
'Q39',
'Q40',
'Q41',
'Q42',
'Q43',
'Q44',
'Q45',
'Q46',
'Q47',
'Q48',
'Q49',
'Q50',
'Q51',
'Q52',
'Q53',
'Q54',
'Q55',
'Q56',
'Q57',
'Q58',
'Q59',
'Q60',
'Q61',
'Q62',
'Q63',
'Q64',
'Q65',
'Q66',
'Q67',
'Q68',
'Q69',
'Q70',
'Q71',
'Q72',
'Q73',
'Q74',
'Q75',
'Q76',
'Q77',
'Q78',

In [102]:
df.columns = ['Q0',
'Q1',
'Q2',
'Q3',
'Q4',
'Q5',
'Q6',
'Q7',
'Q8',
'Q9',
'Q10',
'Q11',
'Q12',
'Q13',
'Q14',
'Q15',
'Q16',
'Q17',
'Q18',
'Q19',
'Q20',
'Q21',
'Q22',
'Q23',
'Q24',
'Q25',
'Q26',
'Q27',
'Q28',
'Q29',
'Q30',
'Q31',
'Q32',
'Q33',
'Q34',
'Q35',
'Q36',
'Q37',
'Q38',
'Q39',
'Q40',
'Q41',
'Q42',
'Q43',
'Q44',
'Q45',
'Q46',
'Q47',
'Q48',
'Q49',
'Q50',
'Q51',
'Q52',
'Q53',
'Q54',
'Q55',
'Q56',
'Q57',
'Q58',
'Q59',
'Q60',
'Q61',
'Q62',
'Q63',
'Q64',
'Q65',
'Q66',
'Q67',
'Q68',
'Q69',
'Q70',
'Q71',
'Q72',
'Q73',
'Q74',
'Q75',
'Q76',
'Q77',
'Q78']

In [103]:
lenght = len(df)

Index(['Q0', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78'], dtype='object')

In [104]:
# Range +/-1 same direction

placeholder_lst=[]

x=0
while x < lenght:
    if df.loc[x, 'Q24'] == 5 and df.loc[x, 'Q29'] == 3:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 5 and df.loc[x, 'Q29'] == 2:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 5 and df.loc[x, 'Q29'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 4 and df.loc[x, 'Q29'] == 2:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 4 and df.loc[x, 'Q29'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 3 and df.loc[x, 'Q29'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 3 and df.loc[x, 'Q29'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 2 and df.loc[x, 'Q29'] == 4:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 2 and df.loc[x, 'Q29'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 1 and df.loc[x, 'Q29'] == 3:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 1 and df.loc[x, 'Q29'] == 4:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q24'] == 1 and df.loc[x, 'Q29'] == 5:
        placeholder_lst.append(1)
    else:
        placeholder_lst.append(0)
    x+=1
df_1 = pd.DataFrame(placeholder_lst)

In [105]:
# Exact same question

placeholder_lst=[]

x=0
while x < lenght:
    if df.loc[x, 'Q55'] == 5 and df.loc[x, 'Q58'] != 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q55'] == 4 and df.loc[x, 'Q58'] != 4:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q55'] == 3 and df.loc[x, 'Q58'] != 3:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q55'] == 2 and df.loc[x, 'Q58'] != 2:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q55'] == 1 and df.loc[x, 'Q58'] != 1:
        placeholder_lst.append(1)
    else:
        placeholder_lst.append(0)
    x+=1
df_2 = pd.DataFrame(placeholder_lst)

In [106]:
# Range +/-2 same direction

placeholder_lst=[]

x=0
while x < lenght:
    if df.loc[x, 'Q5'] == 5 and df.loc[x, 'Q40'] == 2:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 5 and df.loc[x, 'Q40'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 4 and df.loc[x, 'Q40'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 3 and df.loc[x, 'Q40'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 3 and df.loc[x, 'Q40'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 2 and df.loc[x, 'Q40'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 1 and df.loc[x, 'Q40'] == 4:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q5'] == 1 and df.loc[x, 'Q40'] == 5:
        placeholder_lst.append(1)
    else:
        placeholder_lst.append(0)
    x+=1
df_3 = pd.DataFrame(placeholder_lst)

In [110]:
# Range +/-1 reversed direction

placeholder_lst=[]

x=0
while x < lenght:
    if df.loc[x, 'Q1'] == 5 and df.loc[x, 'Q96'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 5 and df.loc[x, 'Q96'] == 4:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 5 and df.loc[x, 'Q96'] == 3:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 4 and df.loc[x, 'Q96'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 4 and df.loc[x, 'Q96'] == 4:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 3 and df.loc[x, 'Q96'] == 5:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 3 and df.loc[x, 'Q96'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 2 and df.loc[x, 'Q96'] == 2:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 2 and df.loc[x, 'Q96'] == 1:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 1 and df.loc[x, 'Q96'] == 3:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 1 and df.loc[x, 'Q96'] == 2:
        placeholder_lst.append(1)
    elif df.loc[x, 'Q1'] == 1 and df.loc[x, 'Q96'] == 1:
        placeholder_lst.append(1)
    else:
        placeholder_lst.append(0)
    x+=1
df_4 = pd.DataFrame(placeholder_lst)

In [111]:
df_comb = df_1+df_2+df_3+df_4

In [113]:
df_comb['1']=df_1
df_comb['2']=df_2
df_comb['3']=df_3
df_comb['4']=df_4
df_comb

    0  1  2  3  4
0   1  0  0  0  1
1   2  1  1  0  0
2   0  0  0  0  0
3   2  0  1  0  1
4   1  0  0  0  1
5   0  0  0  0  0
6   0  0  0  0  0
7   2  1  0  0  1
8   0  0  0  0  0
9   2  1  0  0  1
10  2  0  1  0  1
11  2  1  1  0  0
12  2  1  0  0  1
13  3  1  0  1  1
14  2  1  1  0  0
15  1  1  0  0  0
16  0  0  0  0  0

In [127]:
one_hot_supply = ['Q1',
'Q2',
'Q3',
'Q4',
'Q5',
'Q6',
'Q7',
'Q8',
'Q9',
'Q10',
'Q11',
'Q12',
'Q13',
'Q14',
'Q15',
'Q16',
'Q17',
'Q18',
'Q19',
'Q20',
'Q21',
'Q22',
'Q23',
'Q24',
'Q25',
'Q26',
'Q27',
'Q28',
'Q29',
'Q30',
'Q31',
'Q32',
'Q33',
'Q34',
'Q35',
'Q36',
'Q37',
'Q38',
'Q39',
'Q40',
'Q41',
'Q42',
'Q43',
'Q44',
'Q45',
'Q46',
'Q47',
'Q48',
'Q49',
'Q50',
'Q51',
'Q52',
'Q53',
'Q54',
'Q55',
'Q56',
'Q57',
'Q58',
'Q59',
'Q60',
'Q61',
'Q62',
'Q63',
'Q64',
'Q65',
'Q66',
'Q67',
'Q68',
'Q69']
df [one_hot_supply] = df[one_hot_supply].replace({ 
    1: -2,
    2: -1, 
    3:0,
    4:1,
    5:2})
df.head()

      Q0   Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8   Q9  Q10  Q11  Q12  Q13  Q14  Q15  Q16  Q17  Q18  Q19  Q20  Q21  Q22  Q23  Q24  Q25  Q26  Q27  Q28  Q29  Q30  Q31  Q32  Q33  Q34  Q35  Q36  Q37  Q38  Q39  Q40  Q41  Q42  Q43  Q44  Q45  Q46  Q47  Q48  Q49  Q50  Q51  Q52  Q53  Q54  Q55  Q56  Q57  Q58  Q59  Q60  Q61  Q62  Q63  Q64  Q65  Q66  Q67  Q68  Q69  Q70  Q71             Q72             Q73                               Q74  Q75     Q76      Q77                  Q78  Neuroticismn
0  a1000 -2.0  0.0 -2.0  0.0 -2.0 -1.0  0.0 -1.0  0.0 -1.0 -1.0 -2.0 -1.0 -2.0 -2.0 -2.0 -2.0 -1.0 -1.0  0.0 -2.0  0.0 -2.0 -1.0  0.0 -1.0 -2.0 -1.0 -1.0  0.0  0.0 -1.0 -1.0 -2.0 -2.0  0.0  0.0 -1.0  0.0  0.0  0.0  0.0 -2.0 -1.0 -2.0  0.0  0.0 -2.0 -1.0  0.0 -2.0 -1.0 -2.0 -2.0 -2.0 -2.0 -2.0 -2.0 -2.0 -2.0 -2.0  0.0 -2.0 -2.0 -2.0 -1.0 -2.0 -2.0 -2.0  4.0  4.0         Macbook         Macbook     DD (MIB & Business Analytics)   25  Female  ecuador    Hispanic / Latino          -9.0
1  a1001 -1.0 -2.0  0.0 -2.0  0.0  0.0 -1.0  0.0 -2.0 -1.0  0.0 -2.0 -2.0 -2.0 -1.0  0.0 -2.0 -1.0 -2.0 -1.0  0.0 -1.0  0.0 -2.0 -2.0  0.0 -2.0 -1.0 -2.0 -2.0 -1.0 -1.0 -1.0 -2.0 -2.0 -2.0 -2.0  0.0 -1.0 -1.0 -1.0  0.0 -1.0 -2.0 -1.0 -2.0 -1.0 -1.0  0.0 -2.0 -2.0 -1.0 -1.0 -2.0 -2.0 -2.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -2.0 -2.0 -1.0  0.0 -2.0 -1.0 -1.0  4.0  5.0  Windows laptop  Windows laptop       One year Business Analytics   27    Male  Ecuador    Hispanic / Latino          -9.0
2  a1002 -2.0 -2.0 -1.0 -2.0 -2.0  0.0 -1.0 -1.0 -1.0 -2.0  0.0  0.0 -1.0 -2.0 -1.0  0.0 -1.0 -2.0 -1.0 -2.0  0.0 -2.0 -2.0  0.0  0.0 -1.0  0.0 -1.0 -1.0 -1.0 -2.0  0.0 -2.0 -1.0 -1.0 -2.0  0.0 -1.0 -2.0 -1.0 -1.0  0.0 -2.0 -2.0 -1.0  0.0  0.0  0.0 -2.0 -2.0  0.0 -1.0 -1.0  0.0 -1.0 -1.0  0.0 -1.0 -1.0  0.0  0.0 -1.0  0.0 -2.0 -2.0 -1.0 -2.0 -1.0  0.0  3.0  5.0  Windows laptop  Windows laptop       One year Business Analytics   25    Male   Indian  West Asian / Indian         -11.0
3  a1003 -2.0 -1.0  0.0  0.0  0.0  0.0 -1.0  0.0 -1.0 -2.0  0.0 -2.0 -2.0 -2.0 -1.0 -1.0 -1.0  0.0  0.0  0.0 -2.0 -1.0  0.0 -2.0 -1.0 -2.0 -1.0 -1.0 -1.0 -2.0  0.0  0.0  0.0 -2.0  0.0  0.0 -2.0  0.0 -2.0  0.0 -1.0 -1.0  0.0 -1.0 -1.0  0.0 -1.0  0.0  0.0 -1.0  0.0  0.0  0.0 -1.0 -1.0 -1.0 -2.0 -2.0 -2.0 -2.0 -1.0  0.0 -1.0 -1.0 -1.0 -1.0  0.0 -1.0 -1.0  5.0  5.0  Windows laptop  Windows laptop       One year Business Analytics   26  Female   indian  West Asian / Indian         -11.0
4  a1004 -1.0 -2.0 -2.0 -2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -2.0 -1.0 -2.0 -2.0 -2.0 -2.0 -2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -2.0 -2.0  0.0  0.0 -2.0 -2.0 -2.0 -2.0 -2.0  0.0  0.0  0.0  0.0 -2.0 -2.0  0.0  0.0  0.0 -1.0  0.0  0.0  0.0  0.0  0.0  0.0 -2.0 -2.0 -2.0  0.0  0.0 -2.0 -2.0  0.0  0.0  0.0  3.0  3.0         Macbook  Windows laptop  DD (MBA & Disruptive innovation)   27    Male    China       Far east Asian          -6.0

In [ ]:
df['Neuroticismn']=(df['Q4']+df['Q6']-df['Q9']+df['Q14']-df['Q19']+df['Q24']+df['Q26']+df['Q29']+df['Q34']+df['Q39']+df['Q44']+df['Q49'])/12

In [ ]:

df_corr = housing.corr().round(2)

fig, ax = plt.subplots(figsize=(15,15))

df_corr2 = df_corr.iloc[1:19, 1:19]

sns.heatmap(df_corr2,
            cmap = 'coolwarm',
            square = True,
            annot = True,
            linecolor = 'black',
            linewidths = 0.5)


plt.savefig('Housing Correlation Heatmap.png')
plt.show()